@import '../../variables';
.lessons {
  padding: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .lesson{
    margin: 20px;
    width: 300px;
    max-width: 100%;
  }
  .lessonCardBody {
    padding: 13px;
    font-size: 17px;
    background-color: $main-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    border: 1px $pale-back solid;
    &:hover {
      background-color: $pale-back;
      transition: 0.3s ease;
      cursor: pointer;
      i {
        color: $fair-highlight;
        transition: 0.3s ease;
      }
    }
    .text {
      padding: 10px 20px;
      color: #fff;
    }

    .fas {
      width: 30px;
      height: 30px;
      background-color: $fair-highlight;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .fas:hover {
      background-color: #fff;
      transition: 0.3s ease;
    }

    .fas:hover {
      color: $fair-highlight;
      transition: 0.3s ease;
    }
  }
  .success{
    border: 1px white solid;
    &:hover{
      border: 1px $pale-back solid;
    }
  }
}

@media only screen and (max-width: 450px) {
  .lessons{
    padding: 12px;
  }
}

