@import "src/client/static/styles/variables";
.CodeEditor{

  .toolsPanel{
    background-color: $pale-back;
    position: relative;
    .ezBtn{
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $pale-back;
      outline: none;
      border: none;
      .arrow{
        margin-left: 10px;
        color: $fair-highlight;
      }
      &:hover{
        cursor: pointer;
        background-color: $fair-highlight;
        .arrow{
          color: white;
        }
      }
      span{
        color: white;
      }
    }

    .runButton{
      border-right: 1px solid rgb(255,255,255,.4);
    }
    .toNextButton{
      position: absolute;
      top: 0;
      right: 0;
      border-left: 1px solid rgb(255,255,255,.4);
    }

  }
}
