.ant-card-head-title{
  color: #effdff;
}

$main-back: #333333;
$pale-back: #475362;
$main-content: #375160;
$fair-highlight: #14bdaa;

.main-content{
  background-color: $main-back;
  min-height: 100vh;
}

.fa-arrow-right{
  font-size: 1.6em;
  color: #fff;
}

